PORT=4000
DB_URL=your_mongodb_connection_string
TOKEN_PASS=your_jwt_secret
NODE_ENV=development
CLOUDINARY_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
SELLER_EMAIL=your_seller_email
SELLER_PASS=your_seller_password
STRIPE_PUBLISH_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
